ul,li {
    margin: 0px;
    padding: 0px;
    list-style:none;
}

html, body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea {
    margin: 0px;
    padding: 0px;
    outline-style: none;
}


body {
    font: 16px/1.5 "Microsoft YaHei UI", 'Sans-serif';
    color: #333333;
}

a {
    text-decoration: none;/*修饰*/
    color: #333333;
}

/*默认样式*/
.nav {
    width: 100%;
    height: 79px;
    background: rgb(255, 255, 255);
    position:fixed;
    top: 0px;
    z-index: 999;
}
.kong{
    width: 100%;
    height: 79px;
    background: rgba(0, 0, 0, 0.5);
}


.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
    /*    line-height:93px;
        background: red;*/
}

/*a标签行内元素，没有宽高属性*/
.logo a {
    display: block; /*行内元素转换为块元素*/
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100%;
    height: 100%;
}

.navList {
    width: 602px;
    height: 100%;
    /*    background: blue;*/
    float: right;
    /*margin-right: ;*/
}

.navList li {
    float: left;
    width: 86px;
    height: 100%;
}

.navList li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    /*line-height: 里面不能用100%;*/
    font-size: 14px;
    /*过渡属性放原来地方的属性变化，时间，延时*/
    transition: color linear 0.5s; /*过渡时间0.5s*/
}

.navList li a:hover /*鼠标移上去*/
{
    color: #16b0bc;
}
.first{
    color: #16b0bc;
}
.second{
    width: 100%;
    height:1600px;
    padding: 50px 0px;
    background: #f2f2f2;
    text-align: center;
}
h1{
    margin-top: 70px;
    color:#F67A82;
    font-weight: normal;
}
.second .sekuai{
    /*background: blue;*/
    width: 1140px;
    height: 1400px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.sekuai .left{
    width: 750px;
    height: 940px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}
.left .group{
    min-height: 100px;
    width: 690px;
}
.left .num1{
    width: 690px;
    min-height: 57px;
    height: auto;
    /*background: #eb0903;*/
    margin-bottom: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
}
.num1 .content{
    width: 642px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}
.num1 .content p{
    font-size: 75%;
}
.num1 .infor{
   margin-left: 25px;
    margin-top: 10px;
}
.num1 .repet{
    width: 642px;
    min-height: 50px;
    height: auto;
    background: #f3f7f9;
    margin-left: 20px;
    border: 1px solid #cccccc;
    text-align: left;
    line-height: 50px;
    padding-left: 20px;
    margin-top: 10px;
}
.sekuai .right{
    width: 360px;
    height: 464px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.right input{
    width: 300px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.right .bei{
    background:#f3f7f9 ;
    width: 90px;
    height: 36px;
    position: absolute;
    bottom: 68px;
    right: 30px;
    text-align: center;
}
.bei img{
    width:70px ;
    height: 26px;
    margin-top: 5px;
}
.right .sub{
    width:300px ;
    height: 36px;
    background: #62a8ea;
    text-align: center;
    line-height: 36px;
    color: white;
}
.sub a{
    color: white;
}
/*.left .pic{*/
    /*width: 160px;*/
    /*height:auto;*/
    /*background: black;*/
/*}*/

.second #bai{
    width: 100%;
    height: 20px;
    background: white;
    margin-top: -30px;
}
.beijing3{
    width: 100%;
    height: 183px;
    background: #f5f5f5;
    padding: 20px 0px;
    color:#aaaaaa;
    line-height: 1.8;
}
.zhuye{
    width: 1140px;
    height: 100%;
    background: #333333;
    margin: 0px auto;
}
.tubiao{
    height:58px;
    background: red;
    text-align: center;
    line-height:58px;
}
.tubiao img{
    width: 13px;
    height: 35px;
    background: blue;
    /*    margin-right: 5px;
        margin-left: 5px;*/
    margin:10px 5px;
}
.shouhang{
    width: 100%;
    height: 25px;
    background: yellow;
    text-align: center;
}
.shouhang li:hover{
    text-decoration:underline;
    color: #89bceb;
}
.shouhang ul li{
    display: inline-block;
    color: #89bceb;
}

.wenzi{
    text-align:center;
    font-size: 14px;
    color:#aaaaaa;
    /*    line-height: 3;*/
}
.wenzi p{    line-height: 3;
}